                <div class="selector">
                    <div class="title">
                        <h3>Voltage/Current 1 Phase</h3>
                    </div>
                    <button class="phase3" id="change-button">
                        CHANGE
                    </button>
                </div>
                <div class="power-monitoring">
                    <div class="top">
                        <div class="gauge-1phase hide">
                            <div class="card">
                                <div class="card-header">
                                    R-N Voltage
                                </div>
                                <div class="card-body">
                                    Lorem
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    R-N Current
                                </div>
                                <div class="card-body">
                                    Lorem
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    S-N Voltage
                                </div>
                                <div class="card-body">
                                    Lorem
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    S-N Current
                                </div>
                                <div class="card-body">
                                    Lorem
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    T-N Voltage
                                </div>
                                <div class="card-body">
                                    Lorem
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    T-N Current
                                </div>
                                <div class="card-body">
                                    Lorem
                                </div>
                            </div>
                        </div>
                        <div class="gauge-3phase">
                            <div class="card">
                                <div class="card-header">
                                    R-S Voltage
                                </div>
                                <div class="card-body">
                                    Lorem
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    R-S Current
                                </div>
                                <div class="card-body">
                                    Lorem
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    S-T Voltage
                                </div>
                                <div class="card-body">
                                    Lorem
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    S-T Current
                                </div>
                                <div class="card-body">
                                    Lorem
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    T-R Voltage
                                </div>
                                <div class="card-body">
                                    Lorem
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    T-R Current
                                </div>
                                <div class="card-body" id="T-R">
                                    Lorem
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selector">
                    <div class="title">
                        <h3>Energy Monitoring</h3>
                    </div>
                </div>
                <div class="energy-monitoring">
                    <div class="left">
                        <div class="card">
                            <div class="card-header">
                                S-T Voltage
                            </div>
                            <div class="card-body">
                                Lorem
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                S-T Current
                            </div>
                            <div class="card-body">
                                Lorem
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                T-R Voltage
                            </div>
                            <div class="card-body">
                                Lorem
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                T-R Current
                            </div>
                            <div class="card-body">
                                Lorem
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <canvas
                        id="energy-chart"></canvas>
                    </div>
                </div>