@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/ubuntu-b-webfont.woff2') format('woff2'),
         url('../assets/fonts/ubuntu-b-webfont.woff') format('woff');
  
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/ubuntu-m-webfont.woff2') format('woff2'),
         url('../assets/fonts/ubuntu-m-webfont.woff') format('woff');
  
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('../assets/fonts/ubuntu-r-webfont.woff') format('woff');
  }
  
  :root {
    --primary: rgb(219, 224, 228);
    --secondary: rgb(223, 26, 26);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Ubuntu';
    background-color: var(--primary);
  }
  
  .container {
    display: flex;
    min-height: 100vh;
    width: 100%;
  
  }
  
  .container .main-content {
    background-color: var(--primary);
    flex-grow: 1;
  }
  
  .container .main-content .header-dashboard {
    padding: 20px;
    height: 80px;
    box-sizing: border-box;
  }
  
  .container .sidebar {
    background-color: var(--secondary);
    width: 260px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out .2s;
  }
  
  .container .sidebar.hide {
    width: 87px;
    transition: all ease-in-out .2s;
  }
  
  
  .container .sidebar .header {
    display: flex;
    padding: 10px;
  }
  
  .container .sidebar .header a {
    display: flex;
    align-items: center;
  }
  
  .container .sidebar .header a .icon {
    margin-right: 8px;
    width: 40px;
    height: 40px;
  }
  
  .container .sidebar .header a span {
    color: var(--primary);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }
  
  .container .sidebar.hide .header a span {
    display: none;
  }
  
  .container .sidebar a {
    text-decoration: none;
  }
  
  .container .sidebar .main-menu {
    display: flex;
    flex-direction: column;
  }
  
  /*  */
  
  .container .sidebar .main-menu .menu {
    height: 40px;
    width: 200px;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease-in .2s;
  }
  
  .container .sidebar.hide .main-menu .menu{
    height: 40px;
    width: 60px;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease-in .2s;
  }
  
  .container .sidebar .main-menu .menu:hover {
    background-color: var(--primary);
    height: 40px;
    width: 200px;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease-in .2s;
  }
  
  .container .sidebar.hide .main-menu .menu:hover {
    background-color: var(--primary);
    height: 40px;
    width: 60px;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease-in .2s;
  }
  
  .container .sidebar .main-menu .menu a {
    display: flex;
    align-items: center;
  }
  
  .container .sidebar .main-menu .menu a .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  
  .container .sidebar .main-menu .menu a .description {
    color: var(--primary);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
  
  .container .sidebar.hide .main-menu .menu a .description {
    display: none;
  }
  
  .container .sidebar .main-menu .menu:hover a .description {
    color: var(--secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
  
  /*  */
  
  .container .sidebar.hide .main-menu .menu-list.hide:hover{
    height: 40px;
    width: 60px;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease-in .2s;
  }
  
  .container .sidebar.hide .main-menu .menu-list.hide{
    height: 40px;
    width: 60px;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease-in .2s;
  }
  
  .container .sidebar .main-menu .menu-list.hide {
    height: 40px;
    width: 200px;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease-in .2s;
    flex-direction: column;
    justify-content: center;
  }
  
  .container .sidebar .main-menu .menu-list.hide:hover {
    background-color: var(--primary);
    height: 40px;
    width: 200px;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease-in .2s;
    justify-content: center;
  }
  
  .container .sidebar .main-menu .menu-list {
    height: 130px;
    width: 200px;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease-in .2s;
    flex-direction: column;
    justify-content: center;
  }
  
  .container .sidebar .main-menu .menu-list a {
    display: flex;
    align-items: center;
  }
  
  .container .sidebar .main-menu .menu-list a .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  
  .container .sidebar .main-menu .menu-list a .description {
    color: var(--primary);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
  
  .container .sidebar .main-menu .menu-list.hide:hover a .description {
    color: var(--secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
  
  .container .sidebar.hide .main-menu .menu-list a .description {
    display: none;
  }
  
  .container .sidebar .main-menu .menu-list .list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 100px;
  }
  
  .container .sidebar .main-menu .menu-list .list-item.hide {
    display: none;
  }
  
  .container .sidebar .main-menu .menu-list .list-item a{
    display: flex;
    margin-left: 70px;
  }
  
  .container .sidebar .main-menu .menu-list .list-item a li{
    color: var(--primary);
    font-size: 400;
    font-style: normal;
    margin: 5px;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    transition: all ease-in .2s;
  }
  
  .container .sidebar .main-menu .menu-list .list-item a li:hover{
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 400;
    font-style: normal;
    margin: 5px;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    transition: all ease-in .2s;
  }
  
  
  
  /*  */
  
  .container .main-content .header-dashboard {
    display: flex;
    background-color: var(--secondary);
    justify-content: space-between;
    width: 100%;
    position: relative;
  }
  
  .container .main-content a {
    text-decoration: none;
  }
  
  .container .main-content .header-dashboard .utility {
    display: flex;
    align-items: center;
  }
  
  .container .main-content span {
    color: var(--primary);
  }
  
  .container .main-content .header-dashboard .hamburger {
    display: flex;
    align-items: flex-start;
    align-items: center;
  }
  
  .container .main-content .header-dashboard .hamburger .power-state {
    display: flex;
    margin-left: 20px;
    color: var(--secondary);
    font-weight: 700;
    font-size: 20px;
    background-color: var(--primary);
    padding: 5px;
    border-radius: 5px;
  }
  
  .container .main-content .header-dashboard .hamburger .power-state span{
    color: black;
    text-align: center;
    width: 80px;
    background-color: green;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .container .main-content .header-dashboard .utility .alarm {
    order: 1;
    margin-right: 50px;
  }
  
  .container .main-content .header-dashboard .utility .user {
    font-style: normal;
    font-weight: 400;
    order: 3;
  }
  
  .container .main-content .header-dashboard .utility .user-information {
    order: 2;
  }
  
  .container .main-content .header-dashboard .small-icon {
    width: 40px;
    height: 40px;
  }
  
  .container .main-content .main-dashboard {
  
    overflow: auto;
  }
  
  .container .main-content .main-dashboard .selector {
    background-color: var(--secondary);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    height: 40px;
    padding: 2px;
    margin: 10px;
    flex: 1;
    box-sizing: border-box;
  }
  
  .container .main-content .main-dashboard .selector .title {
    color: var(--primary);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 2px;
    margin-right: 20px;
    padding: 5px;
  }
  
  .container .main-content .main-dashboard .selector .title h3 {
    font-weight: 500;
    font-style: normal;
  }
  .container .main-content .main-dashboard .selector button:active {
    background-color: rgba(219, 224, 228, .5);
    display: flex;
    width: 80px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--secondary);
    cursor: pointer;
  }
  
  .container .main-content .main-dashboard .selector button {
    background-color: var(--primary);
    display: flex;
    width: 80px;
    margin: 2px;
    border: 1px solid;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--secondary);
    cursor: pointer;
  }
  
  .container .main-content .main-dashboard .power-monitoring .top {    
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .container .main-content .main-dashboard .power-monitoring .top .gauge-1phase {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container .main-content .main-dashboard .power-monitoring .top .gauge-1phase.hide {
    display: none;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container .main-content .main-dashboard .power-monitoring .top .gauge-3phase {
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container .main-content .main-dashboard .power-monitoring .top .gauge-3phase.hide {
    position: absolute;
    display: none;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container .main-content .main-dashboard .card {
    display: flex;
    flex-direction: column;
    background-color:var(--secondary);
    margin: 10px;
    width: 240px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .container .main-content .main-dashboard .card .card-header {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid;
    padding: 10px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    color: var(--primary);
  }
  
  .container .main-content .main-dashboard .card .card-body {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    flex: 1;
    color: var(--primary);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  
  .container .main-content .main-dashboard .energy-monitoring { 
    display: flex;
    flex: 1;
  }
  
  .container .main-content .main-dashboard .energy-monitoring .left { 
    display: flex;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  .container .main-content .main-dashboard .energy-monitoring .right { 
    display: flex;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex: 2;
    justify-content: center;
    align-items: center;
  }
  
  .container .main-content .main-dashboard .energy-monitoring .right canvas { 
    display: flex;
    flex: 1;
  }
  
  .pop-up-wrap.hide{
    position: absolute;
    top: 100%;
    right: 0%;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: all ease-in-out .3s;
  }
  
  .pop-up-wrap {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 200px;
    max-height: 400px;
    overflow: hidden;
    transition: all ease-in-out .3s;
  }
  
  .pop-up-wrap {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 200px;
  }
  
  .sub-pop-up-wrap {
    background-color: var(--secondary);
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    border-style:inset;
    display: flex;
  }
  
  .user-info a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-info a p {
    margin: 20px;
    font-size: 15px;
    color: var(--primary);
  }
  
  
  
  /* .container .main-content .main-dashboard .left .selector {
    background-color: var(--secondary);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    height: 40px;
    padding: 2px;
    flex: 1;
  }
  
  .container .main-content .main-dashboard .left .selector .title {
    color: var(--primary);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 2px;
    margin-right: 20px;
    padding: 5px;
  }
  
  .container .main-content .main-dashboard .left .selector .title h3 {
    font-weight: 500;
    font-style: normal;
  }  */